src/main/mule/first-branch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3455debf-47bb-436f-b4cf-7fddd1d4256d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="first-branchFlow" doc:id="91377669-f38c-45f9-a3d6-1c7415ecdbd5" >
		<http:listener doc:name="Listener" doc:id="f915a942-b247-46ea-a801-96d4afc4cf91" config-ref="HTTP_Listener_config" path="/first"/>
		<ee:transform doc:name="Transform Message" doc:id="3f998e21-eb03-41a7-8de2-6bba4523f07f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message":"first message"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="74cc4be8-d583-4785-a018-22e04501a9ca" message="#[payload]"/>
	</flow>
</mule>
