src/main/mule/second-branch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="082a8539-10f5-4271-bb60-77ede7b9a4fc" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="second-branchFlow" doc:id="110f3bb3-73a0-4d6d-85a7-412e8f5fffe2" >
		<http:listener doc:name="Listener" doc:id="9885d805-59ea-4f34-9d7e-73dbd5a332ce" config-ref="HTTP_Listener_config" path="/second"/>
		<ee:transform doc:name="Transform Message" doc:id="55b0005e-6c44-49f6-a672-0c9e2fc727be" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message":"Second Branch"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cbef5200-258e-48a5-862c-71ca6d4df6ba" message="#[payload]"/>
	</flow>
</mule>
