src/main/mule/third-branch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="32d50af5-70d3-4921-b8a8-6541a32d5e9a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="third-branchFlow" doc:id="0998cce5-1ac0-4178-b932-2584256b58f7" >
		<http:listener doc:name="Listener" doc:id="3fc92154-c5e9-4238-ba18-57f6ae437123" config-ref="HTTP_Listener_config" path="/third"/>
		<ee:transform doc:name="Transform Message" doc:id="df789412-224a-4a41-a2e9-8abe8551ee9f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message":"Third branch"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e0a434ae-5748-464b-b449-47c6eda8a312" message="#[payload]"/>
	</flow>
</mule>
